* {
    background:#FCDD44;
}
    

h1{
    text-align:center;
    font-family: "Frijole", "cursive";
    color: ;
  }

h3{
    text-align:center;
    font-family: "Oswald", "sans-serif";
}
p{
    text-align:center;
}


.fixed {
    border: 1px sold:red;
    background-color: #333;
    position: fixed; 
    bottom: 0; 
    right: 0;
    width: 20%;
    height:10;
    font-size:30;
    padding:5px;
    color:white;
}