body {
    background:#FFFD8B;
}
    

h1{
    text-align: center;
    font-family: "Frijole", "cursive";
    font-size:80px;
    color: ;
  }

h3{
    text-align:center;
    font-family: "Oswald", "sans-serif";
}

p1{
    text-align:center;
    font-size: 40px;
}

p3{
    
}

.fixed {
    border: 1px bold:#FCDD44;
    background-color: #6DF478;
    position: fixed; 
    bottom: 0; 
    right: 0;
    width: 20%;
    height:10;
    font-size:30;
    padding:15px;
    color:white;
}